.App {
  text-align: center;
}
.equel {
  font-size: 40px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: auto;
}
.header {
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
